[package]
name = "compiler"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.49", features = ["derive"] }
regex = "1.12.2"

[dev-dependencies]
assert_cmd = "2.1.1"
predicates = "3.1.3"
