name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build -r --verbose
      - name: Cargo Tests
        run: cargo test --verbose
      - name: Library Tests
        run: |
          chmod +x ./run-tests.sh
          ./run-tests.sh
